---
layout: default
---

<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Ser sobirans tecnològicament comporta tenir els coneixements i la capacitat per decidir sobre la tecnologia</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Fem créixer la sobirania tecnològica!</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Barcelona ha de ser, i pot ser, pionera en el desenvolupament de tecnologies enfocades en la satisfacció de necessitats col·lectives</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>L'evolució de les tecnologies informàtiques està acompanyada d'una constant pèrdua de sobirania. Revertim-ho!</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>La sobirania tecnològica defensa els béns comuns compartits i la seva gestió democràtica</h2>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Les qüestions més rellevants, difícils i menystingudes per definir l'estratègia energètica no són, fonamentalment, les tècniques o econòmiques, sinó més aviat les socials i les ètiques</h2>
    <div>Amory B. Lovins, 1976</div>
    <div class="web">
    #SobTec18<br>sobtec.cat
    </div>
  </div>
</div>
