---
layout: default
---
<div class="calendar-day row">
  <h1>04 DE MARÇ</h1>
</div>

<br />
{% include activity.html param="benvinguda" %}
{% include activity.html param="faircoop" %}
{% include activity.html param="ciberfeminismes" %}

{% include activity.html param="descans" %}
{% include activity.html param="taularodona" %}

{% comment %}{% include activity.html param="dinar" %}{% endcomment %}
<div class="row">
  <div class="calendar-day col-sm-2">
    <h2>16.00h a 16.40h</h2>
  </div>
  {% include activity_small.html param="debian" %}
  {% include activity_small.html param="transfeminisme" %}
  {% include activity_small.html param="osint" %}
</div>
<div class="row">
  <div class="calendar-day col-sm-2">
    <h2>16.40h a 17.20h</h2>
  </div>
  {% include activity_small.html param="nabu" %}
  {% include activity_small.html param="xip" %}
  {% include activity_small.html param="guifi" %}
</div>
<div class="row">
  <div class="calendar-day col-sm-2">
    <h2>17.20h a 18.00h</h2>
  </div>
  {% include activity_small.html param="decidim" %}
  {% include activity_small.html param="quantica" %}
</div>
{% include activity.html param="lowtech" %}

<div class="row">
  <p class="col-xs-12">
  * Hi haurà servei de ludoteca amb activitats organitzades per <a href="http://vailets-hacklab.org" target="_blank">vailets-hacklab</a>. Una comunitat autogestionada que busca que els nens siguin protagonistes del seu aprenentatge.
  Si el necessites, <a href="http://vine.sobtec.cat" target="_blank"> inscriu-te</a> al Congrés.
  </p>
</div>
