---
layout: default
---


<div class="row">
  <p class="col-xs-12">
  * Els horaris de les xerrades són encara provisionals.
  </p>
</div>

<div class="row">
  <div class="calendar-day col-sm-3">
  </div>
  <div class="calendar-activity col-sm-9">
    <div class="activity-header">
      <a href="calendari.ics" class="wiki"><i class="fas fa-calendar-alt fa-1x"></i></a>
      Calendari
    </div>
  </div>
</div>

{% include activity.html param="benvinguda" %}
{% include activity.html param="xerrada_1" %}

<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>11.30h a 12.30h</h2>
  </div>
  {% include activity_small.html param="xerrada_2" %}
  {% include activity_small.html param="xerrada_3" %}
</div>
{% include activity.html param="descans0" %}
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>13.00h a 14.00h</h2>
  </div>
  {% include activity_small.html param="xerrada_4" %}
  {% include activity_small.html param="xerrada_5" %}
</div>
{% include activity.html param="dinar" %}
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>15.15h a 16.15h</h2>
  </div>
  {% include activity_small.html param="xerrada_6" %}
  {% include activity_small.html param="xerrada_7" %}
</div>
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>16.15h a 17.15h</h2>
  </div>
  {% include activity_small.html param="xerrada_8" %}
  {% include activity_small.html param="xerrada_9" %}
</div>
{% include activity.html param="descans1" %}
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>17.30h a 18.30h</h2>
  </div>
  {% include activity_small.html param="xerrada_10" %}
  {% include activity_small.html param="xerrada_11" %}
</div>
{% include activity.html param="xerrada_12" %}

<!--
<div class="row">
  <p class="col-xs-12">
  * Hi haurà servei de ludoteca amb activitats organitzades. Si el necessites, <a href="http://vine.sobtec.cat" target="_blank">inscriu-te</a> al Congrés.
  </p>
</div>
-->
