body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #231f20; 
  background: #fff200;
}

.header {
  margin-top: 10px;
}
.navigationbar li {
  margin-bottom: 13px;
}
.navigationbar li a {
  font-size: 38.5px;
  color: #231f20;
  font-weight: bold;
}
.navigationbar li.active a {
  text-decoration: underline;
}

/* BODY */
.body {
  margin-top: 50px;
  margin-bottom: 50px;
}
.body .row{
  margin-bottom: 25px;
}
/* CALENDAR */
.calendar-day h1 {
  text-align: center;
}
.calendar-activity hr {
  border-top: 0;
  border-bottom: 3px dashed #000;
}
.calendar-activity h2 {
  font-family: VT323;
  font-weight: normal;
  line-height: 20px;
}

footer h1 {
  margin-bottom: 40px;
}
footer .mwc-1 address p {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}
footer .location {
  text-decoration: underline;
}
footer .brand {
  border-top: 10px dashed;
  border-bottom: 10px dashed;
  font-family: VT323;
  max-width: 255px;
  border-left: 0;
  border-right: 0;
  border-image-source: url(../img/asterisk-border-image.png);
  border-image-slice: 10 10;
  border-image-repeat: round;
}
footer .background {
  height: 200px;
  background-image: url("../img/background.png");
  background-repeat: repeat-x;
  margin-top: 50px;
}

/* CSS ANIMATION */

#movetxt {
 height: 50px;
 overflow: hidden;
 position: relative;
}
#movetxt p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 30s linear infinite;
 -webkit-animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
