<div class="container header">
  <div class="row">
    <div class="col-sm-4">
      <div class="main-title">
        <a class="brand" href="{{ site.baseurl }}"><img class="img-responsive" src="{{ site.baseurl }}/img/logo_congres.png" alt="IV Congrés Sobirania Tecnologica" /></a>
      </div>
      <div class="header-subheading">
        <b>DISSABTE 2 DE MARÇ DE 2019</b><br />
        <b>LA LLEIALTAT SANTSENCA</b>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4 ">
      <ul class="navigationbar list-unstyled">
        <li {% if page.url == '/' %} class="active" {% endif %}><a href="{{ site.baseurl }}">Sobtec</a></li>
        <li {% if page.url == '/calendari' %} class="active" {% endif %}><a href="{{ site.baseurl }}/calendari.html">Programa</a></li>
        <!-- <li><a href="http://vine.sobtec.cat" target="blank">Inscriu-te</a></li> -->
        <li {% if page.url == '/grup_promotor' %} class="active" {% endif %}><a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a></li>
        <li><a href="http://2018.sobtec.cat">Congrés 2018</a></li>
        <li><a href="http://2017.sobtec.cat">Congrés 2017</a></li>
        <li><a href="http://2016.sobtec.cat">Congrés 2016</a></li>
      </ul>
    </div>
  </div>
</div>
